<div class="side_right">
	<div class="Box">
		<div class="indexright_cont" ng-init="upgradePage=1">
			<div class="indexright_cont_top">
				<div class="topBox1 dateBox clearfix">
					<div class="fl color_blue ml-lg">
						版本
					</div>
					<div class="button_box fr">
						<button class="btn inp_default1 mr-xl   color_blue a_add" ng-click="upgradePage=2">
							<em class="fl addForm_icon"></em>
							<span class="ml-sm">新增</span>
						</button>
					</div>
					
				</div>
				<!--<div class="topBox2 bg_top clearfix">
					<div class="text_box fl">
						
					</div>
				</div>-->
				
			</div>
			
			<div class="indexright_cont_con" style="height: calc(100% - .78rem);" >
				<div class="contentright_cont_con" style="width: calc(100% - 0px);" >
					<div class="ngGrid" style="height: 100%;" ng-show="upgradePage==1">
						<div class="border_box borderbox table_border">
							<table class="table table_collapse">
								<thead class="thead_bg">
									<tr>
										<th>序号</th>
										<th>比较版本号</th>
										<th>显示版本号</th>
										<th>URL</th>
										<th>来源</th>
										<th>创建日期</th>
									</tr>
								</thead>
								<tbody>
									 <tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									<tr>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1</td>
										<td class="td_color font-small">1.3</td>
										<td class="td_color font-small">http://192.168.2.225:80/resources/lar/20161215/302e6ba1.apk</td>
										<td class="td_color font-small">客户端android</td>
										<td class="td_color font-small">2016-12-15 11:09:48</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						
						<div ng-if="myPage.totalCount" ui-pagination pg="myPage"></div>
					</div>
					<!--upgradePage==1结束-->
					<div class="ngGrid verBox2" style="height: 100%;" ng-show="upgradePage==2">
						<div class="border1 mt-lg  overHidden verInputBox">
							<label class="control-label br_right color_blue fl inp_default1 borderbox">比较版本号</label>
							<input type="text" class="form-control wd_xxs inp_default2 fl borderNone color_blue borderbox" ng-model="data.versionNo" />
						</div>
						<div class="border1 mt-lg  overHidden verInputBox">
							<label class="control-label br_right color_blue fl inp_default1 borderbox">显示版本号</label>
							<input type="text" class="form-control inp_default2 wd_xxs fl borderNone color_blue borderbox" ng-model="data.version" />
						</div>
						<div class="border1 mt-lg  overHidden verInputBox">
							<label class="control-label fl br_right color_blue">来源</label>
							<select class="form-control color_blue sdefault">
								<option>请选择版本类型</option>
								<option>安卓版本</option>
								<option>ios版本</option>
							</select>
						</div>
						<div class="border1 mt-lg  overHidden verInputBox">
							<label class="control-label fl br_right color_blue">apk</label>
							<!--<a href="javascript:;" class="a-upload color_blue"><input type="file" class="form-control" ng-model="appoint.iccid" /><span>上传apk</span></a>-->
							<input type="button" class="form-control inp_default2 wd_xxs fl borderNone color_blue borderbox" value="上传apk"  ng-click="clickToOpen()"/>
						</div>
						<div class="versionSaveBtn">
							<button class="btn btn-default color_blue btn_bg" ng-click="save()">保存</button>
							<button class="btn btn-default color_blue btn_bg" ng-click="cancelVersion()">取消</button>
						</div>
						
						
					</div>
				<!--upgradePage==2结束-->
				
				</div>
				 
			</div>
		
		</div>
	</div>
</div>
