<style>
	.ngdialog.ngdialog-theme-default .ngdialog-close, .ngdialog-close{
		right: 0.18rem;
		top: 0.09rem;
	}
	.Modify_passworld2 .Modify_passworld1{
		left: 1.8rem;
		bottom: 1.2rem;
	}
</style>
<!--修改密码-->
<div class="window dialog backImg_common1 Modifypwd_Popup" ng-show="modFor_pwd==1">
	<div class="Repair_title2">
		<h4>{{title}}</h4>
	</div>
	<form name="myForm" class="form-validate" novalidate ng-init="alreadyBt=false">
		<div class="panel-body border_box border_box2 mt-lg">
			<fieldset class="RepairText_boxlist mt-lg font-small RepairText_boxlistWidth cm-positive">
				<div class="col-md-12 p0">
					<input type="password" ng-model="oldPw" class="ht100 col-sm-11 borderNone td_color BgTransparent font-large p0 ml-lg" name="name_text1" placeholder="请输入旧密码"  autocomplete="off" required/>
				</div>
				<div class="Service_error Errorprompt ModifyPwd_error2" ng-show="myForm.name_text1.$dirty  && myForm.name_text1.$invalid && alreadyBt||(myForm.name_text1.$error.required && alreadyBt)"></div>
			</fieldset>
			
			<fieldset class="RepairText_boxlist mt-lg font-small RepairText_boxlistWidth cm-positive">
				<div class="form-group ht100">
					<div class="col-md-12 p0">
						<input type="password" class="ht100 col-sm-11 borderNone td_color BgTransparent font-large p0 pt-sm ml-lg" name="name_text2" placeholder="请设置6-12位字母和数字的新密码" ng-model="newPw"  ng-pattern="/^[a-zA-Z0-9]{6,12}$/"  autocomplete="off" required ng-maxlength="12" ng-minlength="6"/>
					</div>
				</div>
				<div class="Service_error Errorprompt ModifyPwd_error2" ng-show="myForm.name_text2.$dirty  && myForm.name_text2.$invalid && alreadyBt||(myForm.name_text2.$error.required && alreadyBt)"></div>
			</fieldset>
			
			<fieldset class="RepairText_boxlist mt-lg font-small RepairText_boxlistWidth cm-positive">
				<div class="form-group ht100">
					<div class="col-md-12 p0">
						<input type="password"  class="ht100 col-sm-11 borderNone td_color BgTransparent font-large p0 pt-sm ml-lg" name="name_text3" placeholder="请再次确认新密码"  ng-model="newPw2" ng-pattern="/^[a-zA-Z0-9]{6,12}$/" autocomplete="off" required ng-maxlength="12" ng-minlength="6"/>
					</div>
				</div>
				<div class="Service_error Errorprompt ModifyPwd_error2" ng-show="myForm.name_text3.$dirty  && myForm.name_text3.$invalid && alreadyBt||(myForm.name_text3.$error.required && alreadyBt)"></div>
			</fieldset>
			<div class="pwd_Prompt" ng-show="(newPw!=newPw2)&&newPw&&newPw2&&alreadyBt">两次密码输入不一致</div>
		</div>
		<div class="panel-footer h60 Modify_passworld2">
			<div class="col-md-12">
				<div class="AddBtn_boxlist td_color Modify_passworld1" >
					<button class="BgTransparent borderNone ht100 wt100" ng-click='modify_pwSend(myForm.$invalid);alreadyBt=true' >提交</button>
				</div>
			</div>
		</div>
	</form>
</div>

<!--忘记密码-->
<div class="window dialog backImg_common1 ForgetPwd_popup" ng-show="modFor_pwd==2">
	<div class="Repair_title2">
		<h5>{{title}}</h5>
	</div>
	<form name="myForm2" class="form-validate" novalidate ng-init="alreadyBt1=false;alreadyBt2=false">
		<div class="border_box border_box2 Modify_boxlist">
			<fieldset class="RepairText_boxlist RepairText_fgtPwd1 mt-lg font-small RepairText_boxlistWidth">
				<div class="col-md-12 p0">
					<input type="text" ng-model="forget_phone" class="td_color BgTransparent font-large wt100" name="name_text1" placeholder="请输入手机号"   ng-pattern="/(^1[3|4|5|7|8|9][0-9]{9}$)|(^\d{3}-\d{7,8}$)|(^\d{4}-\d{7,8}$)/" autocomplete="off" required/>
					<div class="Service_error Errorprompt"  ng-show="(myForm2.name_text1.$error.required || myForm2.name_text1.$dirty&&myForm2.name_text1.$invalid)&&(alreadyBt1||alreadyBt2)"></div> 
				</div>
			</fieldset>
			<fieldset class="RepairText_boxlist  RepairText_fgtPwd2 mt-lg font-small RepairText_boxlistWidth">
				<div class="form-group">
					<div class="col-md-12 p0">
						<input type="text" class="td_color BgTransparent font-large" name="name_text2" placeholder="请输入图形验证码" ng-model="tuCaptcha_for"   autocomplete="off"  required ng-minlength="4" ng-maxlength="4"/>
						<div class="Service_error Errorprompt ForgetPwd_error2" ng-show="(myForm2.name_text2.$error.required || myForm2.name_text2.$dirty&&myForm2.name_text2.$invalid)&&(alreadyBt1||alreadyBt2)"></div>
						<custom-captcha class="check-code captchaImg fr" monitor-var="monitorRefresh" captcha-id="captchaId2" captcha-url="captchaUrl2"/>
					</div>
				</div>
			</fieldset>
			<fieldset class="RepairText_boxlist RepairText_fgtPwd3 mt-lg font-small RepairText_boxlistWidth"> 
				<div class="form-group">
					<div class="col-md-12 p0">
						<input type="text"  class="td_color BgTransparent font-large" name="name_fpw3" placeholder="请输入短信验证码"  ng-model="inMsg"  autocomplete="off" ng-minlength="6" ng-maxlength="6" required/>
						<div class="Service_error Errorprompt ForgetPwd_error2" ng-show="(myForm2.name_fpw3.$error.required||myForm2.name_fpw3.$dirty&&myForm2.name_fpw3.$invalid)&&alreadyBt2"></div>
						<button class="get_Shmsg BgTransparent borderNone ht100 p0 fr" ng-click="sendMsgCode(forget_phone,tuCaptcha_for,myForm2.$invalid);alreadyBt1=true" ng-disabled="codeS">{{codeS2||'发送验证码'}}</button>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="panel-footer h60 Modify_passworld2">
			<div class="col-md-12">
				<div class="AddBtn_boxlist td_color Modify_passworld1" >
					<button class="BgTransparent borderNone ht100 wt100" ng-click='forget_pwSend(forget_phone,tuCaptcha_for,inMsg,myForm2.$invalid);alreadyBt2=true' >提交</button>
				</div>
			</div>
		</div>
	</form>
</div>

<!--忘记通过后重置密码-->
<div class="window dialog backImg_common1 FresetPwd_popup" ng-show="modFor_pwd==3">
	<div class="Repair_title2">
		<h4>{{title}}</h4>
	</div>
	<form name="myForm3" class="form-validate" novalidate ng-init="alreadyBt3=false">
		<div class="panel-body border_box border_box2">
			<fieldset class="RepairText_boxlist  Freset_Tlist   mt-lg font-small RepairText_boxlistWidth">
				<div class="form-group">
					<div class="col-md-12 p0">
						<input type="password" class="col-sm-10 borderNone td_color BgTransparent Font_size12 p0 pt-sm ml-lg" name="name_resetPw1" placeholder="请输入新的密码" ng-model="new_resetPw"  autocomplete="off" ng-pattern="/^[a-zA-Z0-9]{6,12}$/" required/>
						<div class="Service_error Errorprompt"  ng-show="(myForm3.name_resetPw1.$error.required || myForm3.name_resetPw1.$dirty&&myForm3.name_resetPw1.$invalid)&&alreadyBt3"></div> 
					</div>
				</div>
			</fieldset>
			<fieldset class="RepairText_boxlist Freset_Tlist mt-lg font-small RepairText_boxlistWidth">
				<div class="form-group">
					<div class="col-md-12 p0">
						<input type="password"  class="col-sm-10 borderNone td_color BgTransparent Font_size12 p0 pt-sm ml-lg" placeholder="请再次确认密码"  ng-model="new_resetPw2"  autocomplete="off" name="name_resetPw2" ng-pattern="/^[a-zA-Z0-9]{6,12}$/" required/>
						<div class="Service_error Errorprompt"  ng-show="(myForm3.name_resetPw2.$error.required || myForm3.name_resetPw2.$dirty&&myForm3.name_resetPw2.$invalid)&&alreadyBt3"></div> 
					</div>
				</div>
			</fieldset>
			<div class="pwdRest_Prompt" ng-show="new_resetPw&&new_resetPw2&&new_resetPw!=new_resetPw2&&alreadyBt3">两次密码输入不一致</div>
		</div>
		<div class="panel-footer h60 Modify_passworld2">
			<div class="col-md-12">
				<div class="AddBtn_boxlist td_color Modify_passworld1" >
					<button class="BgTransparent borderNone ht100 wt100" ng-click='reset_pwSend(new_resetPw,new_resetPw2,myForm3.$invalid);alreadyBt3=true' >提交</button>
				</div>
			</div>
		</div>
	</form>
</div>
	
